services:
  backend:
    build:
      context: ./backend      # Points to the backend folder
      dockerfile: Dockerfile    
    container_name: backend_app
    ports:
      - "8000:8000"
    environment:
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_ANON_KEY=${SUPABASE_ANON_KEY}
      - JWT_SECRET=${JWT_SECRET}
      - SUPABASE_SERVICE_ROLE_KEY=${SUPABASE_SERVICE_ROLE_KEY}
    volumes:
      - ./backend:/app
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]

  frontend:
    build:
      context: ./frontend     # Points to the frontend folder
      dockerfile: Dockerfile   
    container_name: frontend_app
    ports:
      - "3000:3000"           